.footer
  background-image: linear-gradient(to bottom, $pale-grey, $white)
  h4
    font-size: 16px
    line-height: 1.56
    color: $charcoal-grey
    padding-bottom: 20px
    padding-top: 55px
  a, p
    font-size: 13px
    line-height: 1.56
    color: $battleship-grey
    transition: all 0.3s
  a
    border-bottom: 1px solid $battleship-grey
    &:hover
      color: $charcoal-grey
  &__logo
    svg
      fill: $battleship-grey
      max-width: 170px
      width: auto
      height: auto
    p
      position: relative
      top: -40px
  &__social
    a
      width: 36px
      height: 36px
      border-radius: 4px
      background-image: linear-gradient(to bottom, $greenish-teal, $tealish-two)
      margin-right: 15px
      display: inline-flex
      justify-content: center
      align-items: center
      border-bottom: none
      &:hover
        svg
          fill: $charcoal-grey
    i
      display: inline-flex
      justify-content: center
      align-items: center
      border-bottom: none
      svg
        height: 15px
        fill: $white
        transition: all 0.3s
      