.header
  position: absolute
  top: 0
  width: 100%
  z-index: 55
  border-bottom: 1px solid #95959c
  &__block
    height: 100%
    &--mobile
      +r(767)
        text-align: center
    &__logo
      width: 165px
      img
        width: 100%
        +r(767)
          max-width: 300px
    &__location
      font-size: 16px
      line-height: 2.25
      color: $white
      position: relative
      z-index: 9999
      display: flex
      justify-content: center
      p
        display: inline-block
        padding: 30px 0px
        padding-left: 20px
        cursor: pointer
        transition: all 0.3s
        &:hover
          color: $greenish-teal
        i
          position: relative
          font-size: 20px
          right: -15px
          top: 2px
          transition: all 0.3s
      &__menu
        display: none
        position: absolute
        top: 70px
        background-image: linear-gradient(to bottom, $greenish-teal, $tealish-two)
        margin-left: 10px
        a
          display: block
          padding: 10px
          border-bottom: 1px solid #95959c
          &:hover
            color: $charcoal-grey
            border-bottom: 1px solid $greenish-teal
      &.active
        p
          color: $greenish-teal
        i
          transform: rotate(180deg)
          color: $greenish-teal
        .header__block__location__menu
          display: block
    &__get
      a
        padding: 27px 25px
        display: inline-block
        font-size: 16px
        font-weight: bold
        line-height: 2.25
        color: $white
        position: relative
        top: 1px
        &.active
          border-bottom: 3px solid $greenish-teal
    &__user
      padding: 35px 25px
      display: inline-block
