.intro
  background: url('../img/header__bg.png') no-repeat
  background-size: cover
  padding: 180px 0
  padding-top: 220px
  position: relative
  +r(767)
    padding-top: 350px
    padding-bottom: 30px
  &__form
    width: 80%
    position: relative
    display: flex
    left: 50%
    transform: translate(-50%)
    +r(1024)
      width: 97%
    +r(767)
      display: none
    input
      height: 40px
    &__room
      width: 30%
      margin-right: 5px
    &__station
      margin-right: 5px
      width: 40%
      input[type="text"]
        font-size: 13px
        color: $slate-grey
        padding: 15px
        margin-right: 5px
        width: 100%
        display: block
        margin-bottom: 5px
      &--cost
        display: flex
        input[type="number"]
          padding: 15px
          width: 70%
          border-right: 1px solid $white-two
    &__view
      width: 30%
      input[type="submit"]
        padding: 12px 0px
        width: 100%
        border-bottom-right-radius: 5px
        background-image: linear-gradient(to bottom, $greenish-teal, $tealish-two)
        font-family: 'Roboto'
        font-size: 15px
        font-weight: bold
        color: $white
        outline: none
        transition: all 0.3s
        cursor: pointer
        margin-top: 5px
        &:hover
          color: $charcoal-grey
  &__mobile
    display: none
    +r(767)
      display: block
      .catalog__filter
        display: block !important
  h1
    font-size: 36px
    font-weight: bold
    line-height: 1.28
    color: $white
    padding-bottom: 40px
  &__btn
    position: absolute
    width: 100%
    bottom: 0
    +r(767)
      display: none
    a
      display: flex
      justify-content: center
      padding-bottom: 30px
      &:hover
        i
          color: $greenish-teal
    i
      font-size: 40px
      color: $white
