.catalog__variants--none
  .row
    .col-xs-12
      .catalog__variants
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/home.jpg)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург  Невский пр-кт, 156, Санкт-Петербург Невский пр-кт, 156, Санкт-Петербург Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
        .catalog__variants__block
          .catalog__variants__block__swiper
            .swiper-container.swiper-container--4
              .swiper-wrapper
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper1.png)')
                .swiper-slide
                  .swiper-slide__block(style='background: url(img/ads__swiper2.png)')
              .swiper-pagination.swiper-pagination--4
              .swiper-button-next.swiper-button-next--4
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--4
                i.icon.icon-arrow
          .catalog__variants__block__content
            .catalog__variants__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .catalog__variants__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p 
                    i.icon.icon-metro
                    | Коммендантский проспект
                  p
                    i.icon.icon-location
                    | Невский пр-кт, 156, Санкт-Петербург
            .catalog__variants__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
    .col-xs-12
      a(href="#").btn.btn--variants Загрузить еще