*
	padding: 0
	margin: 0
html, body
	font-family: "Fira Sans"
	overflow-x: hidden
	height: 100%
	position: relative
.container
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 1140px
	position: relative
	+r(1024)
		overflow-x: hidden
		padding: 0 10px
.row
	height: 100%
.flex
	display: flex
a
	font-size: 16px
	color: $white
	text-decoration: none
	transition: all 0.3s
p
	font-size: 16px
.heading 
	display: flex
	flex-direction: column
	align-items: center
	h2
		font-size: 36px
		font-weight: bold
		text-align: left
		color: $charcoal-grey
		padding-top: 60px
		padding-bottom: 30px
	p
		font-size: 22px
		color: $battleship-grey
		padding-top: 10px
		padding-bottom: 80px
	&--discription
		position: relative
		padding-bottom: 80px
		h2:before
			content: ''
			position: absolute
			bottom: 40px
			width: 46px
			height: 5px
			left: 0
			background: linear-gradient(to bottom, $greenish-teal, #27c8ca)
			border-radius: 5px
	&--variants
		h2 
			font-size: 24px
			font-weight: bold
			line-height: 1.13
			color: $charcoal-grey
			padding: 0
			+r(1024)
				padding-bottom: 30px

.btn
	display: inline-flex
	border-radius: 4px
	border: double 3px transparent
	background-image: linear-gradient($white, $white), radial-gradient(circle at top left, #42d79f 0%, #36d1b2 50%, #27c8ca 100%)
	background-origin: border-box
	background-clip: content-box, border-box
	font-weight: bold
	height: 50px
	width: 200px
	justify-content: center
	align-items: center
	color: $white
	&--pop-up
		width: 100%
		border-radius: 6px
		background-image: linear-gradient(to bottom, $greenish-teal, $tealish-three) 
		background-origin: none
		font-size: 16px
		font-weight: normal
		line-height: 1.19
		transition: all 0.3s
		&:hover
			color: $charcoal-grey-two
	&--header
		background-image: linear-gradient($charcoal-grey-two, $charcoal-grey-two), radial-gradient(circle at top left, #42d79f 0%, #36d1b2 50%, #27c8ca 100%)
	&--intro
		background-image: linear-gradient($charcoal-grey-two, $charcoal-grey-two), radial-gradient(circle at top left, #42d79f 0%, #36d1b2 50%, #27c8ca 100%)
		width: 100%
		margin-top: 20px
		display: none
		+r(767)
			display: inline-flex
	&--discription
		color: $charcoal-grey
		margin-right: 30px
		margin-bottom: 20px
		+r(600)
			padding: 15px 0
			width: 100%
			justify-content: center
		i
			position: relative
			height: 20px
			padding-right: 15px
			color: #000
			background: #fff
			img
				height: 20px
				width: 30px
	&--ads
		color: $charcoal-grey
		margin-top: 50px
		margin-bottom: 70px
		+r(767)
			padding: 15px 0
			width: 100%
			justify-content: center
			font-size: 20px
	&--variants
		font-size: 13px
		font-weight: 500
		color: $charcoal-grey
		margin-left: 15px
		margin-bottom: 40px
		width: 98%
		border: double 2px transparent
		background-image: linear-gradient($pale-grey-three, $pale-grey-three), radial-gradient(circle at top left, #42d79f 0%, #36d1b2 50%, #27c8ca 100%)
		+r(1124)
			margin-left: 0
			width: 100%
.checkbox
	width: 100%
	p
		font-size: 13px
		font-weight: 600
		line-height: 1.63
		color: $charcoal-grey
		padding-bottom: 14px
	input[type="checkbox"]
		display: none
	input[type="radio"]
		display: none
	input[type="checkbox"] + label
		width: 100%
		padding: 10px 0
		display: inline-block
		font-size: 13px
		line-height: 1.62
		color: $charcoal-grey
		cursor: pointer
		transition: all 0.3s
		&:hover
			color: $tealish-three
	input[type="checkbox"] + label::before
		content: '\f00c'
		font-family: 'FontAwesome'
		color: transparent
		position: relative
		width: 17px
		height: 17px
		border-radius: 3px
		background-color: $pale-grey-two
		margin-right: 10px
		display: inline-flex
		justify-content: center
		align-items: center
	input[type="checkbox"]:checked + label::before
		background-color: $tealish-three
		color: $white
	input[type="radio"] + label
		padding: 13px 0px
		width: 50%
		background: $white
		color: $slate-grey
		display: inline-block
		font-size: 13px
		cursor: pointer
		transition: all 0.3s
		height: 40px
	input[type="radio"] + label:last-child
		border-top-right-radius: 5px
	input[type="radio"] + label::before
		display: none
	input[type="radio"]:checked + label
		background: $tealish
		color: $white
	&--type
		input[type="checkbox"] + label
			width: 50%
			padding: 0
	&--intro
		width: auto
		display: flex
		input[type="radio"] + label
			padding: 13px 0px
			width: 70%
			height: 40px
			border-right: 1px solid $white-two
		input[type="radio"] + label:last-child
			border-radius: 0
			border-right: 1px solid $white
			width: 100%
		input[type="radio"] + label:nth-child(2)
			border-bottom-left-radius: 5px
		input[type="radio"]:checked + label:last-child
			border-right: 1px solid $tealish-three
		input[type="radio"]:checked + label:nth-child(2)
			border-right: 1px solid $tealish-three
	&--intro--check
		input[type="checkbox"] + label
			background: $white
			height: 40px
			padding: 10px 0px
			width: 100%




input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

.catalog__variants
	column-count: 3
	column-gap: 30px
	margin-left: 20px
	+r(1124)
		margin-left: 0
	+r(1024)
		column-count: 2
	+r(767)
		padding-top: 15px
	+r(540)
		column-count: 1
	&__block
		border-radius: 5.8px
		background-color: $white
		box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.1)
		overflow: hidden
		margin-bottom: 30px
		width: 100%
		display: inline-block
		&:hover
			.swiper-pagination-bullet, .swiper-button-next, .swiper-button-prev
				opacity: 1 !important
		&__swiper
			.swiper-container
				width: 100%
				border-top-left-radius: 8px
				border-top-right-radius: 8px
				overflow: visible
				.swiper-slide
					overflow: hidden
					height: 140px
					text-align: center
					background: #e1e1e1
					+r(767)
						height: 200px
					&__block
						background-size: auto 120% !important
						background-repeat: no-repeat !important
						background-position: 50% 50% !important
						height: 100%
				.swiper-pagination.swiper-pagination--1.swiper-pagination-bullets
					display: flex
					align-items: center
					justify-content: center
				.swiper-pagination-bullet
					width: 6px
					height: 6px
					background: $white
					transition: opacity 0.3s
					opacity: 0
					+r(1024)
						opacity: 1
				.swiper-pagination-bullet-active
					background: $tealish-three
					width: 10px
					height: 10px
					margin-bottom: -2px
				.swiper-button-next, .swiper-button-prev
					width: 40px
					height: 100%
					top: 16%
					display: flex
					justify-content: center
					align-items: center
					transition: all 0.3s
					background: none
					opacity: 0
					+r(1024)
					  opacity: 1
					i
						font-size: 30px
						color: $white
				.swiper-button-next
					right: 0
				.swiper-button-prev
					left: 0
					transform: rotate(180deg)
					i
		&__content
			padding: 10px
			&__title
				a
					font-size: 13px
					font-weight: bold
					line-height: 1.39
					color: $charcoal-grey
					&:hover
						border-bottom: 1px solid $charcoal-grey
			&__info
				border-bottom: 2px solid $white-two
				border-top: 2px solid $white-two
				padding: 7px 10px
				padding-right: 5px
				margin: 7px 0
				position: relative
				p
					font-size: 11px
					font-weight: 500
					line-height: 2.3
					color: $charcoal-grey
					padding-left: 10px
					display: flex
					align-items: center
					i
						color: $greenish-teal
						position: absolute
						left: 0
						font-size: 13px
						&.icon-metro
							left: -1px
						&.icon-location
							left: 1px
			&__bottom
				span
					font-size: 13px
					font-weight: bold
					line-height: 1.39
					color: $charcoal-grey
				a
					font-size: 11px
					font-weight: 500
					line-height: 2.3
					color: $charcoal-grey
					position: relative
					cursor: pointer
					&:hover
						color: $greenish-teal
					i
						color: $greenish-teal
						position: absolute
						left: -25px
						top: 1px