---
title: Index Page
---
extends layouts/_layout
block content
  include page/intro
  include page/description
  include page/option
  include page/work
  include page/ads
  include page/command
  include partials/_footer
  include page/pop-up