
$white: #ffffff
$black-30: rgba(0, 0, 0, 0.3)
$darkish-blue: #002590
$light-khaki: #dcf6c7
$pale-grey: #f2f5fa
$light-turquoise: #89f8c5
$black-25: rgba(0, 0, 0, 0.25)
$battleship-grey: #707984
$charcoal-grey: #3c4450
$tealish: #30c6a5
$black-50: rgba(0, 0, 0, 0.5)
$black: #000000
$greenish-teal: #42d79f
$tealish-two: #26c8cb
$bluey-grey: #8b98a8
$greenblue: #25ce98
$white-10: rgba(255, 255, 255, 0.1)
$white-two: #dddddd
$red: #ff0000