footer.footer
  .container
    .footer__top
      .row.start-md.center-xs
        .col-md-3.col-xs-12.last-xs.first-md
          .footer__top__block
            .footer__top__block__logo
              i.icon.icon-logo--footer
        .col-md-3.col-sm-4.col-xs-6
          .footer__top__block
            .footer__top__block__siction
              h4 Разделы сайта
              a(href="#") Найти квартиру
              a(href="#") Сдать квартиру
              a(href="#") Вопросы и ответы
        .col-md-3.col-sm-4.col-xs-6
          .footer__top__block
            .footer__top__block__info
            h4 Информация
            a(href="#") Пользовательское соглашение
            a(href="#") Обработка персональных данных
            a(href="#") Договор аренды
        .col-md-3.col-sm-4.col-xs-6
          .footer__top__block
            .footer__top__block__social
              h4 Мы в соцсетях
              a(href="#")
                i.icon.icon-telegram
              a(href="#")
                i.icon.icon-vk
    .footer__bottom
      .row.start-md.center-xs
        .col-md-3.col-sm-4.col-xs-6.col-md-offset-3
          a(href="mailto:ello@gnezdo.ru") hello@gnezdo.ru
        .col-md-3.col-sm-4.col-xs-6
          a(href="tel:89817834576") 8 (981) 783-45-76
        .col-md-3.col-sm-4.col-xs-12
          p © 2018 «Уютное гнездышко»