//BEGIN header
header.header(class=headerClass)(class=headerStubClass)
  .container
    .row.between-xs
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm
        .header__block
          .row.middle-xs
            .col-sm-6.col-xs-5
              a(href="index.html").header__block__logo
                img(src="img/logo.svg", alt="")
            .col-sm-6.col-xs-7
              .header__block__location
                p Санкт-Петербург
                  i.fa.fa-angle-down
                .header__block__location__menu
                  a(href="#") Санкт-Петербург2
                  a(href="#") Санкт-Петербург4
      .col-md-4.col-sm-6.col-xs-12.end-xs.last-md
        .header__block.header__block--mobile
          .header__block__user
            a(href="#") Вход
          .header__block__ad.btn.btn--header
            a(href="#") Подать объявление
//END header
