//BEGIN header
header.header
  .container
    .row.between-xs
      .col-md-4.col-sm-6.col-xs-12.center-xs.start-sm
        .header__block
          .row.middle-xs
            .col-xs-6
              a(href="#").header__block__logo
                img(src="img/svgo/logo.svg", alt="")
            .col-xs-6
              .header__block__location
                select.select.select-first
                  option Санкт-Петербург
                  option Санкт-Петербург1
                  option Санкт-Петербург2
      .col-md-4.col-xs-12.center-xs.last-xs
        .header__block
          .header__block__get
            a(href="#").active Снять
            a(href="#") Сдать
      .col-md-4.col-sm-6.col-xs-12.end-xs.last-md
        .header__block.header__block--mobile
          .header__block__user
            a(href="#") Вход
          .header__block__ad.btn
            a(href="#") Подать объявление
//END header
