footer.footer
  .container
    .row.start-md.center-xs
      .col-md-3.col-xs-12.last-xs.first-md
        .footer__logo
          +icon('logo--footer')
          p © 2018 «Уютное гнездышко»
      .col-md-3.col-sm-4.col-xs-6
        h4 Разделы сайта
        a(href="#") Снять
        br
        a(href="#") Сдать
      .col-md-3.col-sm-4.col-xs-6
        h4 Техподдержка
        p Email: 
          a(href="mailto:ello@gnezdo.ru") hello@gnezdo.ru
        p Telegram: 
          a(href="tel:8981783457") 8981783457
      .col-md-3.col-sm-4.col-xs-6
        h4 Мы в соцсетях
        .footer__social
          a(href="#")
            i.footer__social__telegram
              +icon('telegram')
          a(href="#")
            i.footer__social__vk
              +icon('vk')
