.icon-arrow {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-location {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-logo--footer {
  width: 2.8em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 2.8em;
  height: 1em;
  fill: initial;
}
.icon-metro {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-stop {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-users {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
