section.ads
  .container
    .row.start-md.center-xs
      .col-xs-12.center-xs
        .heading
          h2 Последние добавленные объявления в Санкт-Петербурге
          p В час публикуется около 100500 объявлений.
      .col-md-4.col-sm-6.col-xs-12.start-xs
        .ads__block
          .ads__block__swiper
            .swiper-container.swiper-container--1
              .swiper-wrapper
                .swiper-slide
                  img(src="img/ads__swiper.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper1.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper2.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper1.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper2.png", alt="")
              .swiper-pagination.swiper-pagination--1
              .swiper-button-next.swiper-button-next--1
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--1
                i.icon.icon-arrow
          .ads__block__content
            .ads__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .ads__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p.ads__block__content__info--lease
                    i.icon.icon-users
                    | Субаренда
                  p 
                    i.icon.icon-metro
                    | Сенная площадь
                  p
                    i.icon.icon-location
                    | ул. Гороховая, 25, Сенной округ, Санкт-Петербург
            .ads__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
      .col-md-4.col-sm-6.col-xs-12.start-xs
        .ads__block
          .ads__block__swiper
            .swiper-container.swiper-container--2
              .swiper-wrapper
                .swiper-slide
                  img(src="img/ads__swiper.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper1.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper2.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper1.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper2.png", alt="")
              .swiper-pagination.swiper-pagination--2
              .swiper-button-next.swiper-button-next--2
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--2
                i.icon.icon-arrow
          .ads__block__content
            .ads__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .ads__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p.ads__block__content__info--lease
                    i.icon.icon-users
                    | Субаренда
                  p 
                    i.icon.icon-metro
                    | Сенная площадь
                  p
                    i.icon.icon-location
                    | ул. Гороховая, 25, Сенной округ, Санкт-Петербург
            .ads__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
      .col-md-4.col-sm-6.col-xs-12.start-xs
        .ads__block
          .ads__block__swiper
            .swiper-container.swiper-container--3
              .swiper-wrapper
                .swiper-slide
                  img(src="img/ads__swiper.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper1.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper2.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper1.png", alt="")
                .swiper-slide
                  img(src="img/ads__swiper2.png", alt="")
              .swiper-pagination.swiper-pagination--3
              .swiper-button-next.swiper-button-next--3
                i.icon.icon-arrow
              .swiper-button-prev.swiper-button-prev--3
                i.icon.icon-arrow
          .ads__block__content
            .ads__block__content__title 
              a(href="#") Комната в аренду в 6-комнатной квартире
            .ads__block__content__info
              .row.middle-xs
                .col-xs-12
                  p
                    i.icon.icon-stop
                    | Без залога
                  p.ads__block__content__info--lease
                    i.icon.icon-users
                    | Субаренда
                  p 
                    i.icon.icon-metro
                    | Сенная площадь
                  p
                    i.icon.icon-location
                    | ул. Гороховая, 25, Сенной округ, Санкт-Петербург
            .ads__block__content__bottom
              .row.middle-xs
                .col-xs-6
                  span 13 000 ₽
                .col-xs-6.end-xs
                  a
                    i.icon.icon-like
                    | В избранное
      .col-xs-12.center-xs
        a(href="variants.html").btn.btn--ads Все объявления



