section.command
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 Наша команда
          p Мы очень креативные, хорошие и добрые
      .col-md-3.col-sm-6.col-xs-12
        .command__block
          .command__block__img
            img(src="img/command1.png", alt="")
          .command__block__text
            h4 Каждый Охотник
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      .col-md-3.col-sm-6.col-xs-12
        .command__block
          .command__block__img
            img(src="img/command2.png", alt="")
          .command__block__text
            h4 Каждый Охотник
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      .col-md-3.col-sm-6.col-xs-12
        .command__block
          .command__block__img
            img(src="img/command3.png", alt="")
          .command__block__text
            h4 Каждый Охотник
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      .col-md-3.col-sm-6.col-xs-12
        .command__block
          .command__block__img
            img(src="img/command4.png", alt="")
          .command__block__text
            h4 Каждый Охотник
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.