section.description#description
  .container
    .description__content
      .row
        .col-xs-12.center-xs
          .description__content__video
            img(src="img/description.png", alt="")
          .heading.heading--discription
            h2 Посмотрите видео о том, какие мы хорошие и прогрессивные
        .col-xs-12
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
          a(href="#").btn.btn--discription
            i.telegram
              img(src="img/telegram--gradient.svg", alt="")
            | Канал в телеграме
          a(href="#").btn.btn--discription
            i.vk
              img(src="img/vk--gradient.svg", alt="")
            | Группа вконтакте
