section.intro
  .container
    .row.center-xs
      .col-xs-12
        h1 Снять комнату, квартиру или дом
        form
          select.select.select-last
            option Тип жилья
            option Тип жилья1
            option Тип жилья2
          select.select.select-last
            option Станция метро
            option Станция метро1
            option Станция метро2
          select.select.select-last
            option Количество комнат
            option Количество комнат1
            option Количество комнат2
          select.select.select-last
            option Бюджет
            option Бюджет1
            option Бюджет2
          select.select.select-last
            option Срок аренды
            option Срок аренды1
            option Срок аренды2
          input(type="submit" value="Найти")
  .intro__btn
    a(href="#description")
      i.fa.fa-angle-down