section.intro
  .container
    .row.center-xs
      .col-xs-12
        h1 Снять комнату, квартиру или дом
        form.intro__form
          .intro__form__room
            select.select.select-last
              option Квартира
              option Дом
              option Комната
            .checkbox.checkbox--intro
              input(type="radio" name="room" id="room1" checked)
              label(for="room1") 1
              input(type="radio" name="room" id="room2")
              label(for="room2") 2
              input(type="radio" name="room" id="room3")
              label(for="room3") 3
              input(type="radio" name="room" id="room4")
              label(for="room4") 4+
              input(type="radio" name="room" id="studio")
              label(for="studio") Студия
          .intro__form__station
            input(type="text" name="station" placeholder="Метро")
            .intro__form__station--cost
              input(type="number" name="cost" placeholder="От")
              input(type="number" name="cost" placeholder="До")
              .checkbox.checkbox--intro--check
                input(type="checkbox" name="pledge" id="pledge" checked)
                label(for="pledge") Без залога
          .intro__form__view
            .checkbox
              input(type="radio" id="long" name="time" checked)
              label(for="long") Долгосрочно
              input(type="radio" id="daily" name="time")
              label(for="daily") Посуточно
            input(type="submit" value="Найти")
    .intro__mobile
      .row
        .col-md-3.col-sm-4.col-xs-12
          .catalog__filter
            .catalog__filter__tabs
              ul.catalog__filter__tabs__caption
                li.active Сниму
                li Сдам
              .catalog__filter__tabs__content.active
                form.form
                  .form__type.checkbox.checkbox--type
                    input(type="checkbox" id="apartments")
                    label(for="apartments") Квартиры
                    input(type="checkbox" id="room" checked)
                    label(for="room") Комнаты
                  .form__where
                    p Метро
                    .form__where__block
                      input(type="text" placeholder="По названию")
                  .form__cost
                    p Диапазон цены
                    .row
                      .col-xs-6
                        span от
                        input(type="number").from
                      .col-xs-6.end-xs
                        span до
                        input(type="number").to
                    .form__cost__range
                      input(type="range" id="cost")
                      .row
                        .col-xs-6
                          span 0
                        .col-xs-6.end-xs
                          span 95.000
                    .form__cost__checkbox.checkbox
                      input(type="checkbox" id="cost2" checked)
                      label(for="cost2") Без залога
                  .form__source.checkbox
                    p Тип жилья
                    input(type="checkbox" id="source1" checked)
                    label(for="source1") Квартира
                    input(type="checkbox" id="source2")
                    label(for="source2") Комната
                    input(type="checkbox" id="source3")
                    label(for="source3") Дом
                    input(type="checkbox" id="source4")
                form.form
                  .form__extra.form__extra1
                    h4 Дополнительно
                      i.fa.fa-caret-down
                    .form__extra__block
                      .form__extra__block__area
                        p Площадь, м2
                        .row
                          .col-xs-6
                            span от
                            input(type="number")
                          .col-xs-6.end-xs
                            span до
                            input(type="number")
                      .form__extra__block__floor
                        p Этаж
                        .row
                          .col-xs-6
                            span от
                            input(type="number")
                          .col-xs-6.end-xs
                            span до
                            input(type="number")
                      .form__extra__block__comfort.checkbox
                        p Удобства
                        input(type="checkbox" id="comfort1" checked)
                        label(for="comfort1") Балкон
                        input(type="checkbox" id="comfort2")
                        label(for="comfort2") Холодильник
                        input(type="checkbox" id="comfort3")
                        label(for="comfort3") Телевизор
                        input(type="checkbox" id="comfort4")
                        label(for="comfort4") Кондиционер
                        input(type="checkbox" id="comfort5")
                        label(for="comfort5") Стиралка
                        input(type="checkbox" id="comfort5")
                        label(for="comfort5") Бойлер
      a(href="#").btn.btn--intro Искать
  .intro__btn
    a(href="#description")
      i.fa.fa-angle-down