section.option
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Почему мы?
          p Бла-бла-бла какой неистово прикольный текст
      .col-md-4.col-sm-6.col-xs-12.start-sm.center-xs
        .option__block
          .option__block__img
            img(src="img/option.svg", alt="")
          .option__block__text
            h4 Уютный поиск
            p Воспользуйтесь удобной формой поиска с множеством фильтров, которых нет в нашей легендарной группе Вконтакте.
      .col-md-4.col-sm-6.col-xs-12.start-sm.center-xs
        .option__block
          .option__block__img.option__block__img--width
            img(src="img/option1.svg", alt="")
          .option__block__text
            h4 Уютный поиск
            p Воспользуйтесь удобной формой поиска с множеством фильтров, которых нет в нашей легендарной группе Вконтакте.
      .col-md-4.col-sm-6.col-xs-12.start-sm.center-xs
        .option__block
          .option__block__img.option__block__img--width
            img(src="img/option2.svg", alt="")
          .option__block__text
            h4 Уютный поиск
            p Воспользуйтесь удобной формой поиска с множеством фильтров, которых нет в нашей легендарной группе Вконтакте.
      .col-md-4.col-sm-6.col-xs-12.start-sm.center-xs
        .option__block
          .option__block__img
            img(src="img/option3.svg", alt="")
          .option__block__text
            h4 Уютный поиск
            p Воспользуйтесь удобной формой поиска с множеством фильтров, которых нет в нашей легендарной группе Вконтакте.
      .col-md-4.col-sm-6.col-xs-12.start-sm.center-xs
        .option__block
          .option__block__img
            img(src="img/option4.svg", alt="")
          .option__block__text
            h4 Ультрамодерация
            p Мы тщательно проверяем каждое объявление перед публикацией – если предложенный вариант покажется вам недопустимым, вы всегда сможете сообщить нам об этом с помощью кнопки "Пожаловаться".
      .col-md-4.col-sm-6.col-xs-12.start-sm.center-xs
        .option__block
          .option__block__img
            img(src="img/option5.svg", alt="")
          .option__block__text
            h4 Уютный поиск
            p Воспользуйтесь удобной формой поиска с множеством фильтров, которых нет в нашей легендарной группе Вконтакте.






