section.work
  .container
    .row
      .col-xs-12.center-xs
        .heading
          h2 Как это работает
          p Пользоваться нашим сервисом просто и приятно
    .work__tabs
      .row
        .col-md-4.col-xs-12
          ul.work__tabs__caption
            li.active Как найти гнездышко
            li Как сдать гнездышко
        .col-md-8.col-xs-12
          .work__tabs__content.active
            h3 Создайте объявление
              span 1
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.
            h3 Создайте объявление
              span 2
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.
            h3 Создайте объявление
              span 3
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.
          .work__tabs__content
            h3 Создайте объявление1
              span 1
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.
            h3 Создайте объявление1
              span 2
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.
            h3 Создайте объявление1
              span 3
            p Создать объявление просто: опишите жилье, укажите, сколько и каких людей вы ждёте, добавьте фотографии, цену, информацию о местоположении, а также можете заполнить дополнительные поля, рассказав побольше о своём гнёздышке.